<div class="container">

        <h1 style="text-align: center;">Farmer's portal</h1>
        <div style="text-align: center;">
            <button (click)="Login()" class="btn btn-lg btn-danger">Upload documents</button>
            <button class="btn btn-lg btn-success" style="margin:20px">Planting schedule</button>
            <button class="btn btn-lg btn-success" style="margin:20px">Spray schedule</button>
            <button class="btn btn-lg btn-success" style="margin:20px">Growth tracking</button>
            <button class="btn btn-lg btn-success" style="margin:20px">Harvest</button>
            <br>
            <button class="btn btn-lg btn-success" style="margin:20px">Messages</button>
            <button class="btn btn-lg btn-success" style="margin:20px">Settings</button>
            <button class="btn btn-lg btn-success" style="margin:20px">Training</button>
            <button class="btn btn-lg btn-success" style="margin:20px">Planting Schedule</button>
            <button (click)="Login()" class="btn btn-lg btn-danger">Logout</button>
        </div>
    
</div>
